.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80px;
	background: #df5277;
}

.info-ctr {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
}

.info-ctr.social-media .img-ctr{
	margin-right: 5%;
}

.info-ctr.social-media .text-ctr{
	margin-right: 3%;
}
.img-ctr {
	display: flex;
	margin-right: 3%;
}

.text-ctr {
	display: inline-block;
}

.text-ctr a {
	color: white;
	text-decoration: none;
}

.copyright-ctr {
	flex-wrap: wrap;
}

.copyright {
	width: 100%;
}